
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f1f1f1, #d64bb8);
}


#login {
    border: 5px;
    background-color: rgba(253, 147, 230, 0.863);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}


h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #fa089d;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}
.input input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #e70f86;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background-color: #b9009a;
}